* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #141414;
}

#__next {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #141414;
}

a {
  color: inherit;
  text-decoration: none;
}

.mask {
  -webkit-mask-image: linear-gradient(to bottom, #141414 50%, transparent);
  mask-image: linear-gradient(to bottom, #141414 50%, transparent);
}

.mask-1 {
  -webkit-mask-image: linear-gradient(to bottom, #141414 30%, transparent);
  mask-image: linear-gradient(to bottom, #141414 30%, transparent);
}

:root {
  --swiper-theme-color: #fff;
}

.icon {
  width: 24px;
  height: 24px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  color: white;
  line-height: 120%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.netflix-swiper {
  height: 450px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-show-slide {
  text-align: center;
  font-size: 18px;
  background: #141414;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-show-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: red;
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.mySwiper {
  min-height: 75vh;
  height: max-content;
}

img {
  max-width: 100%;
  height: auto;
}

.swiper-wrapper {
  box-sizing: border-box !important;
}

.swiper-wrapper:has(.carousel-slide) {
  padding: 24px 0;
}

.carousel-slide,
.hover-card {
  transition: 250ms all;

  &:hover {
    transform: scale(1.2) !important;
    z-index: 1;
    background-position: bottom;
  }

  &:first-child:hover {
    margin: 0 40px;
  }

  &:last-child:hover {
    margin: 0 -40px;
  }
}
